<div class="fontawesome-bootstrap">
  <div class="row align-items-center">
    <div class="col-auto">
      <i class="fas fa-gear fa-3x custom-icon"></i>
    </div>
    <div class="col custom-form-long">
      <input class="form-control" />
    </div>
  </div>
</div>
<div class="card-icons">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="icon-container">
        <i class="fas fa-calendar fa-3x"></i>
        <p class="text-style">Daily</p>
      </div>
      <div class="icon-container">
        <i class="fas fa-gamepad fa-3x"></i>
        <p class="text-style new-game">New Game</p>
      </div>
    </div>
  </div>
  <div class="magic-wand">
    <fa-icon [icon]="faWandMagic" class="fa-3x"></fa-icon>
    <p>Magic</p>
  </div>
  <div class="light-bulb">
    <fa-icon [icon]="faLightbulb" class="fa-3x"></fa-icon>
    <p>Hint</p>
  </div>
  <div class="undo-btn">
    <fa-icon [icon]="faRotateLeft" class="fa-3x"></fa-icon>
    <p>Undo</p>
  </div>
</div>
