<div class="fontawesome-bootstrap">
  <div class="row align-items-center">
    <div class="col-auto">
      <i class="fas fa-gear fa-3x custom-icon"></i>
    </div>
    <div class="col custom-form-long">
      <input class="form-control" />
    </div>
  </div>
</div>
<div class="card-icons">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="icon-container">
        <fa-icon [icon]="faBox" class="fa-3x"></fa-icon>
        <p class="text-style">Deck</p>
      </div>
      <div class="icon-container">
        <i class="fas fa-gamepad fa-3x"></i>
        <p class="text-style new-game">New Game</p>
      </div>
    </div>
  </div>
  <div class="magic-wand">
    <fa-icon [icon]="faLayerGroup" class="fa-3x"></fa-icon>
    <p>Round</p>
  </div>
  <div class="light-bulb">
    <fa-icon [icon]="faUser" class="fa-3x"></fa-icon>
    <p>Player</p>
  </div>
  <div class="undo-btn">
    <fa-icon [icon]="faDiamond" class="fa-3x"></fa-icon>
    <p>Card</p>
  </div>
</div>
